{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "Username":"",
    "Password": "",
    "ApiKey": "",
    "ClientId":"",
    "TenantId":"",
    "Scope":"",
    "Origin":"",
    "GraphQlUrl":""
  }
}
