{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "Config:AccountId":"",
    "Config:ClientId":"",
    "Config:TenantId":"",
    "Config:Scope":"",
    "Config:Origin":"",
    "Config:AadUsername":"",
    "Config:GraphQlUrl":"",
    "Secrets:Password": "",
    "Secrets:VaultApiKey": ""
  }
}
